<h3>Create a Team</h3>


<input type="" name="" ng-model="team_name">
<button class="btn btn-success">Create a new team</button>



<!-- <div style="display: flex; justify-content: space-between;">
	<div style="width: 8em;">
		<ul>
			<li ng-repeat="a in athletes">{{a.athName}}  <button class="btn btn-success" ng-click="loadAthlete($index)">Load This Athlete</button></li>
		</ul>
	</div>
	<div>
		<h3>These Are On Strava</h3>
		<table class="table">
			<th>
				<tr>
					<td>Date</td>
					<td>Title</td>
					<td>Distance</td>
					<td>Upload</td>
					
				</tr>
			</th>
			<tbody>
				<tr ng-repeat="r in recents | filter: type ='run' | orderBy: '-start_date'">
					<td>{{r.start_date}}</td>
					<td>{{r.name}}</td>
					<td>{{r.distance}}</td>
					<td><button ng-click="upload($index)">Upload</button></td>

				</tr>
			</tbody>
		</table>
		

	</div>
	<div>
		<h3>These are in FB</h3>
			<table class="table">
			<th>
				<tr>
					<td>Date</td>
					<td>Title</td>
					<td>Distance</td>
					
				</tr>
			</th>
			<tbody>
				<tr ng-repeat="r in fbActivities | filter: type ='run' | orderBy: '-start_date'">
					<td>{{r.start_date}}</td>
					<td>{{r.name}}</td>
					<td>{{r.distance}}</td>

				</tr>
			</tbody>
		</table>
	</div>
</div>

 -->

