.activity-list {
	max-height: 8em;
	overflow: scroll;
}

.activity-holder {
	margin-bottom: 0;
}

.angular-google-map-container { 
	min-height: 500px;
	width: 100%;
 }

.map-creator {
	height: 500px;
	width: 100%
}

.profile_pic {
	max-width: 2em; 
	border-radius: 50%;
	border: 0;
	vertical-align: middle;
}

.chat_div {
	display: flex;
	flex-direction: column-reverse;
	/*max-height: 20em;*/
}

.img-circle {
	max-width: 4em;
}

.map-row {
	display: flex;
	height: 45em;
	overflow: none;
	margin-bottom: 2em;
}

.right-side-holder {
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	/*max-height: 100%;*/
}

.right-side-child {
	/*height: 45em;*/

}


.map-holder {
	height: 100%;
	overflow: hidden;
}

.chat {
	
}

.recent_links {
	color: rgba(255, 255, 255, .8);
}
.recent_links:hover {
	color: rgba(255, 255, 255, .8);
}

.map-legend {
	padding-top: .5em;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
	font-size: .85em;
}

.map-legend-children {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

.map-legend-children img {
	padding-right: .5em;
}
