.activity-list {
	max-height: 8em;
	overflow: scroll;
}

.activity-holder {
	margin-bottom: 0;
}

.angular-google-map-container { 
	min-height: 500px;
	width: 100%;
 }

.map-creator {
	height: 500px;
	width: 100%
}

.profile_pic {
	max-width: 3em; 
}

.chat_div {
	display: flex;
	flex-direction: column-reverse;
	/*max-height: 20em;*/
}

.img-circle {
	max-width: 25px;
}

.map-row {
	display: flex;
	height: 45em;
	overflow: none;
	margin-bottom: 2em;
}

.right-side-holder {
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	/*max-height: 100%;*/
}

.right-side-child {
	/*height: 45em;*/

}


.map-holder {
	height: 100%;
	overflow: hidden;
}

.chat {
	
}