.activity-list {
	max-height: 25em;
	overflow: scroll;
}

.angular-google-map-container { 
	min-height: 500px;
	width: 100%;
 }

.map-creator {
	height: 500px;
	width: 100%
}

.profile_pic {
	max-width: 3em;
}

.chat_div {
	display: flex;
	flex-direction: column-reverse;
	max-height: 25em;
}

.img-circle {
	max-width: 60px;
}