<div class="page-wrap">


<div class="panel panel-default panel-hovered panel-stacked mb30">
<div class="panel-heading">Create a Race</div>
<div class="panel-body">
	<form role="form">
		<div class="form-group">
			<label class="control-label small">Race Title</label>
			<input type="text" class="form-control" placeholder="Awesome Race 4" ng-model="newRace.title">
		</div>
		<div class="form-group">
			<label class="control-label small">Race Start Day</label>
			<input type="text" class="form-control" placeholder="MM/DD/YYYY" ng-model="newRace.start_date">
		</div>
		<div class="form-group">
			<label class="control-label small">Race End Day</label>
			<input type="text" class="form-control" placeholder="MM/DD/YYYY" ng-model="newRace.end_date">
		</div>
		<div class="input-group">
			<label class="control-label small">Max Teams</label>
			<input type="number" class="form-control" placeholder="Number of Teams" ng-model="newRace.teams">
		</div>
		<div class="input-group">
			<label class="control-label small">Athletes per Team</label>
			<input type="number" class="form-control" placeholder="Number of Athletes per Team" ng-model="newRace.athletes">
		</div>
		<div class="ui-checkbox">
			<label>
				<input type="checkbox" ng-model="newRace.private"> 
				<span>Private / Custom Race</span>
			</label>
		</div>

		 <button type="button" class="btn btn-primary btn-block waves-effect" ng-click="createRace()">Create Race {{newRace.title}}</button>
	</form>
</div>
</div>

{{newRace.private}}
</div> 
<!-- end page wrap -->


<!-- <div style="display: flex; justify-content: space-between;">
	<div style="width: 8em;">
		<ul>
			<li ng-repeat="a in athletes">{{a.athName}}  <button class="btn btn-success" ng-click="loadAthlete($index)">Load This Athlete</button></li>
		</ul>
	</div>
	<div>
		<h3>These Are On Strava</h3>
		<table class="table">
			<th>
				<tr>
					<td>Date</td>
					<td>Title</td>
					<td>Distance</td>
					<td>Upload</td>
					
				</tr>
			</th>
			<tbody>
				<tr ng-repeat="r in recents | filter: type ='run' | orderBy: '-start_date'">
					<td>{{r.start_date}}</td>
					<td>{{r.name}}</td>
					<td>{{r.distance}}</td>
					<td><button ng-click="upload($index)">Upload</button></td>

				</tr>
			</tbody>
		</table>
		

	</div>
	<div>
		<h3>These are in FB</h3>
			<table class="table">
			<th>
				<tr>
					<td>Date</td>
					<td>Title</td>
					<td>Distance</td>
					
				</tr>
			</th>
			<tbody>
				<tr ng-repeat="r in fbActivities | filter: type ='run' | orderBy: '-start_date'">
					<td>{{r.start_date}}</td>
					<td>{{r.name}}</td>
					<td>{{r.distance}}</td>

				</tr>
			</tbody>
		</table>
	</div>
</div>

 -->

