<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                <li class="active">Icons</li>
            </ol>
        </div><!--/.row-->
        
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ data.title }}</h1>
            </div>
        </div><!--/.row-->

<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Dashboard
                <small>It's Nice to Meet You!</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Dashboard</li>
            </ol>
        </div>

    </div>


<a href="https://www.strava.com/oauth/authorize?client_id=21642&response_type=code&redirect_uri=https%3A%2F%2Fvirtual-relay.firebaseapp.com%2F%23%2Ftoken_exchange" ng-hide="strava_token">Authorize Strava Here</a>




</div>
<!-- /.container -->

</div>