<div class="page-wrap">
                    <!-- row -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel mb20 panel-default" ng-repeat="(key, event) in events">
                                <div class="panel-heading"> <a ng-click="goToEvent(key)">{{event.title}}</a>
</div>
                                <div class="panel-body">
                                    Panel comes in various formats. You can create different panels just by dropping bootstrap <code>panel-*</code> classes.
                                    Additionally you can give panel hovered box shadow and stacked paper style by adding <code>panel-hovered</code> and <code>panel-stacked</code>.
                                </div>
                            </div>
                        </div>
                    </div> <!-- #end row -->
</div>




