<div class="page-wrap">
                    <!-- row -->
                    <h3>Your Races</h3>
                    <div class="row flex flex-row flex-wrap-true flex-justify-center">
                        
                       
                            <div class="panel mb20 panel-default" style="max-width: 30%" ng-repeat="(key, event) in events">
                                <div class="panel-heading"> <a ng-click="goToEvent(key)">{{event.title}}</a>
                                </div>
                                <div class="panel-body">
                                    Panel comes in various formats. You can create different panels just by dropping bootstrap <code>panel-*</code> classes.
                                    Additionally you can give panel hovered box shadow and stacked paper style by adding <code>panel-hovered</code> and <code>panel-stacked</code>.
                                </div>
                                <button type="button" class="btn btn-primary btn-block waves-effect" ng-click="goToTeam(key)">Go to <strong>{{event.title}}</strong> Page</button>
                            </div>
                     
                    </div> <!-- #end row -->

                     <!-- row -->
                     <h3>Your Teams</h3>
                    <div class="row flex flex-row flex-wrap-true flex-justify-center">
                        
                            <div class="panel mb20 panel-default" style="max-width: 30%" ng-repeat="(key, team) in teams">
                                <div class="panel-heading"> <a ng-click="goToTeam(key)">{{team.team_name}}</a>
                                </div>
                                <div class="panel-body">
                                    Panel comes in various formats. You can create different panels just by dropping bootstrap <code>panel-*</code> classes.
                                    Additionally you can give panel hovered box shadow and stacked paper style by adding <code>panel-hovered</code> and <code>panel-stacked</code>.
                                </div>
                                <button type="button" class="btn btn-primary btn-block waves-effect" ng-click="goToTeam(key)">Go to <strong>{{team.team_name}}</strong> Page</button>
                            </div>
                    </div> <!-- #end row -->
</div>





<!-- 
<div class="main dashboard">

    <div class="panel dash-panel panel-primary">
        <div class="panel-heading">
            Your Events
        </div>
        <div class="panel-body">
           <div ng-repeat="(key, event) in events">
               <a ng-click="goToEvent(key)">{{event.title}}</a>

           </div>
        </div>
    </div>
    <div class="panel panel-primary dash-panel">
        <div class="panel-heading">Your Recent Activities</div>
        <div class="panel-body activity-list">
            <p ng-repeat="act in activities | orderBy : 'start_date':true"">
                <a ng-href="https://www.strava.com/activities/{{act.id}}" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()" target="_blank" tooltip-placement="top" uib-tooltip="{{act.distance_miles | number:1}} miles, {{act.elevation_gain | number:0}} ft of gain, {{act.time_pretty}}, {{act.pace}} per mile. Click to view on Strava"><strong>{{act.name}}</strong> - {{act.distance_miles | number:1 }} mile {{ act.type }} {{ act.start_date_pretty }}.</a> <span ng-show="hoverEdit" class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
            </p>
        </div>
    </div>
    <div class="panel dash-panel" ng-class="{'panel-success': strava_token, 'panel-danger': !strava_token}">
        <div class="panel-heading">
            Strava Connection Status
        </div>
        <div class="panel-body">
           <a ng-hide="strava_token" href="https://www.strava.com/oauth/authorize?client_id=21642&response_type=code&redirect_uri=https%3A%2F%2Fvirtual-relay.firebaseapp.com%2F%23%2Ftoken_exchange" ng-hide="strava_token"><img src="/assets/strava_orange.png"></a>
           <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> You're Connected</p>
        </div>
    </div>
</div> 


 -->

