<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Icons</li>
			</ol>
		</div><!--/.row-->
		
		
<!-- <h2>User Events List</h2> -->
<!-- <pre>{{userEventsList| json}}</pre> -->










<!-- 
<input type="" name="" ng-model="stravaUserId">
<button ng-click="findUser()">Find the User</button>
<button ng-click="eventsList()">Add to Events List</button>
<button ng-click="deleteActivities()">Delete Activities</button>
<button ng-click="uploadActivities()">Upload Activities</button>
<button ng-click="pushRandom()">Push / Delete Randoms</button>



<pre>{{ userData | json }}</pre>

<h2>Detailed ctivity list:</h2>
<pre>{{detailedActivityList | json }}</pre> -->


<button ng-click="activityList()">Pull User</button>
<input type="" name="" ng-model="stravaToken">

<pre>{{ foundActivity | json }}</pre>