.main {
	padding: 2em;
}

.nav-link {
	margin-right: 2em;
}

.activity-list {
	max-height: 8em;
	overflow: scroll;
}

.activity-holder {
	margin-bottom: 0;
}

.angular-google-map-container { 
	min-height: 500px;
	width: 100%;
 }

.map-creator {
	height: 500px;
	width: 100%
}

.profile_pic {
	max-width: 2em; 
	border-radius: 50%;
	border: 0;
	vertical-align: middle;
}

.chat_div {
	display: flex;
	flex-direction: column-reverse;
	/*max-height: 20em;*/
}

.img-circle {
	max-width: 4em;
}

.map-row {
	display: flex;
	height: 45em;
	overflow: none;
	margin-bottom: 2em;
	
}

.right-side-holder {
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	/*max-height: 100%;*/
}

.right-side-child {
	/*height: 45em;*/

}


.map-holder {
	height: 100%;
	overflow: hidden;
}

.chat {
	
}

.recent_links {
	color: rgba(255, 255, 255, .8);
}
.recent_links:hover {
	color: rgba(255, 255, 255, .8);
}

.map-legend {
	padding-top: .5em;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
	font-size: .85em;
}

.map-legend-children {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

.map-legend-children img {
	padding-right: .5em;
}

.dashboard {
	display: flex;
	justify-content: space-between;
	
}

.dash-panel {
	width: 30%
}

.create-event {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.event-summary {
	width: 35%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.create-step {
	border-width: .1em;
	border-style: solid;
	margin-bottom: 2em;
	padding: 1em;
}

.step-active {

}

.step-complete {
	border-color: #5bcc53;

}

.success-icon {
	color:#5bcc53;
}

.step-inactive {
	border-color: #e8e9ea;
	color: #e8e9ea;
}

.step-inactive > h4 {
	border-color: #e8e9ea;
	color: #e8e9ea;
}


.step-holder {
	max-width: 40%;
}



/* slider CSS*/

.custom-slider.rzslider .rz-bar {
  background: #ffe4d1;
  height: 2px;
}
.custom-slider.rzslider .rz-selection {
  background: orange;
}

.custom-slider.rzslider .rz-pointer {
  width: 8px;
  height: 16px;
  top: auto; /* to remove the default positioning */
  bottom: 0;
  background-color: #333;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.custom-slider.rzslider .rz-pointer:after {
  display: none;
}

.custom-slider.rzslider .rz-bubble {
  bottom: 14px;
}

.custom-slider.rzslider .rz-limit {
  font-weight: bold;
  color: orange;
}

.custom-slider.rzslider .rz-tick {
  width: 1px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0;
  background: #ffe4d1;
  top: -1px;
}

.custom-slider.rzslider .rz-tick.rz-selected {
  background: orange;
}


/* end slider CSS*/

















